extends index

block topbar
    include navbar
    link(rel="stylesheet" href="/stylesheets/account.css")


block content
    body
        div(class="modal fade" id="modalUserName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter New Username
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                 .form-group
                                     i(class="fas fa-user prefix grey-text")
                                     input(type="text" id="orangeForm-name" class="form-control validate" value ="" required name="displayName")
                                     label(data-error="wrong" data-success="right" for="orangeForm-name") New Username
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit") Change Username
        div(class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter New Password
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                .form-group
                                    i(class="fas fa-lock prefix grey-text")
                                    input(type="password" id="orangeForm-oldpass" class="form-control validate" value ="" required name="old-password" placeholder="Current Password")
                                    label(data-error="wrong" data-success="right" for="orangeForm-oldpass")
                                    span(id="currentpass" class="glyphicon glyphicon-remove" style="color:#FF0004;") Matches current password
                                    br
                                    i(class="fas fa-lock prefix grey-text")
                                    input(type="password" id="orangeForm-pass" class="form-control validate" value ="" required name="password" placeholder="New Password")
                                    label(data-error="wrong" data-success="right" for="orangeForm-pass")
                                    span(id="newpass" class="glyphicon glyphicon-remove" style="color:#FF0004;") Different from old password
                                    br
                                    i(class="fas fa-lock prefix grey-text")
                                    input(type="password" id="orangeForm-repeat" class="form-control validate" value ="" required  placeholder="Repeat New Password")
                                    label(data-error="wrong" data-success="right" for="orangeForm-repeat")
                                    span(id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;") Passwords match
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit" id="passbtn") Change Password
                            script.
                                $("input[type=password]").keyup(function () {
                                    var oldpassacon = document.getElementById("passText");
                                    if (oldpassacon.value == $("#orangeForm-oldpass").val()) {
                                        $("#currentpass").removeClass("glyphicon-remove");
                                        $("#currentpass").addClass("glyphicon-ok");
                                        $("#currentpass").css("color", "#00A41E");
                                        $("#passbtn").attr("disabled", false);
                                    } else {
                                        $("#currentpass").removeClass("glyphicon-ok");
                                        $("#currentpass").addClass("glyphicon-remove");
                                        $("#currrentpass").css("color", "#FF0004");
                                        $("#passbtn").attr("disabled", true);
                                    }

                                    if (oldpassacon.value !== $("#orangeForm-pass").val()) {
                                        $("#newpass").removeClass("glyphicon-remove");
                                        $("#newpass").addClass("glyphicon-ok");
                                        $("#newpass").css("color", "#00A41E");
                                        $("#passbtn").attr("disabled", false);
                                    } else {
                                        $("#newpass").removeClass("glyphicon-ok");
                                        $("#newpass").addClass("glyphicon-remove");
                                        $("#newpass").css("color", "#FF0004");
                                        $("#passbtn").attr("disabled", true);
                                    }
                                    if ($("#orangeForm-repeat").val() == $("#orangeForm-pass").val() &&$("#orangeForm-pass").val().length !== 0 ) {
                                        $("#pwmatch").removeClass("glyphicon-remove");
                                        $("#pwmatch").addClass("glyphicon-ok");
                                        $("#pwmatch").css("color", "#00A41E");
                                        $("#passbtn").attr("disabled",false);
                                    } else {
                                        $("#pwmatch").removeClass("glyphicon-ok");
                                        $("#pwmatch").addClass("glyphicon-remove");
                                        $("#pwmatch").css("color", "#FF0004");
                                        $("#passbtn").attr("disabled",true);
                                    }
                                });
        div(class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter New Email
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                .form-group
                                    i(class="fas fa-envelope prefix grey-text")
                                    input(type="email" id="orangeForm-email" class="form-control validate" value =""  required name="email" )
                                    label(data-error="wrong" data-success="right" for="orangeForm-email") New Email
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit") Change Email
        div(class="modal fade" id="modalPay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter New Payment Method
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                .form-group
                                    input(type="text" id="orangeForm-pay" class="form-control validate" value ="" required name="pay")
                                    label(data-error="wrong" data-success="right" for="orangeForm-pay") New Credit Card
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit") Change Payment Method
        div(class="modal fade" id="modalBilling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter Billing Address
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                .form-group
                                    input(type="text" id="orangeForm-address" class="form-control validate" value ="" required name="str1")
                                    label(data-error="wrong" data-success="right" for="orangeForm-address") Street Line 1
                                    input(type="text" id="orangeForm-address2" class="form-control validate" value ="" required name="str2")
                                    label(data-error="wrong" data-success="right" for="orangeForm-address2") Street Line 2
                                    input(type="text" id="orangeForm-state" class="form-control validate" value ="" required name="state")
                                    label(data-error="wrong" data-success="right" for="orangeForm-state") State
                                    input(type="text" id="orangeForm-zip" class="form-control validate" value ="" required name="zip")
                                    label(data-error="wrong" data-success="right" for="orangeForm-zip") Zip Code
                                    input(type="text" id="orangeForm-country" class="form-control validate" value ="" required name="country")
                                    label(data-error="wrong" data-success="right" for="orangeForm-country") Country
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit") Change Plan
        div(class="modal fade" id="modalPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header text-center")
                        h4(class="model-title w-100 font-weight-bold") Enter New Plan
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body mx-3")
                        form(method='POST' action='/account/' class='form-registration')
                            div(class="md-form mb-5")
                                .form-group
                                    input(type="text" id="orangeForm-plan" class="form-control validate" value ="" required name="plan")
                                    label(data-error="wrong" data-success="right" for="orangeForm-plan") New Plan
                            div(class="modal-footer d-flex justify-content-center")
                                .form-group
                                    button(class="btn btn-deep-orange" type="submit") Change Plan
        h1 Account
        hr
        div.membership
            h3 Profile Information
            button(class="btn btn-default " type="submit" id="cancelbtn") Cancel Membership
            ul.member
                li Name: #{user}
                li Username: #{name}
                   span
                       a(href=""  data-toggle="modal" data-target="#modalUserName") change username
                li
                    span Password:
                    input(type="password" value=`${password}` id="passText")
                    input(type="checkbox" onclick="togglePassword()")
                    span Show Password
                    a(href=""  data-toggle="modal" data-target="#modalPassword") change password
                    script.
                        function togglePassword() {
                            var x = document.getElementById("passText");
                            if (x.type == "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }
                li Email: #{email}
                    a(href="" data-toggle="modal" data-target="#modalEmail") Change email

                li Date Created: #{dateCreated}
            hr
            h3 Billing
            ul.bill
                li Payment Info
                    a(href=""  data-toggle="modal" data-target="#modalPay") update payment info
                div.address
                    li Street Line 1:
                    li Street Line 2:
                    li State:
                    li Zip Code:
                    li Country:
                    li
                        a(href=""  data-toggle="modal" data-target="#modalBilling") update billing address
            br
            br
            br
            br
            hr
            h3 Plan Details
            ul.plans
                li Plan: #{status}
                    a(href=""  data-toggle="modal" data-target="#modalPlan") change plan
            hr





