extends index

block topbar
    include navbar

block scripts
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')
    

block content
    .container-fluid.greeting.text-center#greeting
        .row
            .col-12.border-bottom
                    h1 #{message}
                    
    .container.contentsandstuff
            .row
                each production in displayProductions
                    .col-sm-3
                        .card.prodBox
                            - var titleLink = `/production/?production=${production.id}`
                            a#link(href= titleLink)
                                img.img-fluid.rounded.mx-auto.logoimage#logos(src=`/images/showthumbnail/${production.id}.jpg` alt=`${production.title}`, width='300')
                            p
                            .col.text-center
                                a#link(href= titleLink)= production.title