extends index


block scripts
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')

block append stylesheet
    link(rel='stylesheet', href='/stylesheets/productions.css')

block content
    .container-fluid.backgroundproduction
        .container-fluid#productionbox
            .row
                .col-sm-2
                .col-sm-4#showimage
                    img.img-fluid.rounded.mx-auto.logoimage#logos(src=`/images/showthumbnail/${productionData.id}.jpg` alt=`${productionData.title}`, width='300')
                .col-sm-4#showinfo
                    h1.text-white= productionData.title
                    p= productionData.showSummary
                    .container
                        //disabled until multi-genre behaviour is determined - perhaps define a "primary" genre for each production?  Let me know.
                        //a(class='button' href=`/home?genre=${productionData.genre}` )(class="btn"+productionData.genre).btn #{productionData.genre}

                .col-sm-2
                    

    .container.showgrid
        .container.cardcontainer#seasonsandeps
            .row
                .col-sm-2
                .col-sm-3
                    .dropdown.select.selectpicker(data-dropup-auto='false')
                        button.btn.btn-primary.dropdown-toggle#buttonstyle(type='button', data-toggle='dropdown')
                            Dropdown Season #{selectedSeason}
                        .dropdown-menu.bg-dark
                            - var season = 1;
                            while season <= productionData.seasonCount
                                a.text-center#link(href= `./?production=${productionData.id}&seasonSelection=${season}`) Season #{season}
                                - season++
                                p
                .col-sm-7
            .container
                - var episode = 1
                while episode <= episodeCount
                    if (episode % 3 === 1)
                        .row
                    .col-sm-4
                        .card.epbox
                            - var episodeLink = `./?production=${productionData.id}&seasonSelection=${selectedSeason}&episodeSelection=${episode}`
                            a#link(href= episodeLink)
                                img.card-img-top#logos(src=`/images/epthumbnail/${productionData.id}.jpg` alt=`${productionData.title}`, width='300')
                            .card-body
                                a.demolink(href='#' data-toggle='modal' data-target='#myModal') Episode #{episode} - #{episodeData[episode - 1].title}
                                    #myModal.modal.fade.bannerformmodal(tabindex='-1' role='dialog' aria-labelledby='bannerformmodal' aria-hidden='true')
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                        span(aria-hidden='true') ×
                                                    h4#myModalLabel.modal-title episode_name
                                                .modal-body
                                                    | Season #{season} episode_name
                                                    div.wrapper.col-10.offset-1.my-4
                                                        video(id='my-video' class='video-js' controls preload='none' width='1280' height='720'
                                                            poster='MY_VIDEO_POSTER.jpg' data-setup='{"fluid":true}')
                                                            //source(src='video/chungus.mp4' type = video / mp4)
                                                            p.vjs-no-js Please enable Javascript to see this video
                                        script(type='text/javascript').
                                            videojs("my-video").src([
                                                {type: "video/mp4", src: "http://vjs.zencdn.net/v/oceans.mp4"},
                                                //{type: "video/webm", src: "http://vjs.zencdn.net/v/oceans.webm"}
                                            ]);
                    - episode++
