extends layout

block scripts
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')
block topbar
    .row
        p Top menu goes here
    .row
        h1 #{message}
block content

    .row
        h1= productionData.title
        if season
            h1 &nbsp;- Season #{season}
    .row
        .col-3
            //later we will replace these generated links with generated objects from bootstrap
            - var i = 1;
            while i <= productionData.seasonCount
                a(href= `./?production=${productionData.id}&seasonSelection=${i}`) Season #{i++}
                p
        .col-8
                - var i = 1;
                while i <= episodeCount
                    a(href= `./?production=${productionData.id}&seasonSelection=${season}&episodeSelection=${i}`) Episode #{i++} - #{episodeData[i-2].title}
                    p

    a(href="../home") Go Home<br><br>
    a(href="../logout") Log Out