extends layout

block scripts
    link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
    script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    script(src='https://vjs.zencdn.net/7.4.1/video.js')
block topbar
    .row
        p Top menu goes here
    .row
        h1 #{message}
block content

    - var selectedSeason = 1;

    p #{user} has logged in.  Enjoy your nightmare chungus.
    p= subscriptionActiveUntil
    div.wrapper.col-10.offset-1.my-4
        video(id='my-video' class='video-js' controls preload='auto' width='1280' height='720'
        poster='MY_VIDEO_POSTER.jpg' data-setup='{"fluid":true}')
            source(src=vidUrls?vidUrls[1][1]:null)
            p.vjs-no-js Please enable Javascript to see this video

    div.subscriptionTest
        div.subscriptionDisplay
            p= `Subscription is currently ${subscriptionActiveUntil ? `active until ${subscriptionActiveUntil}.` : `inactive.`}`
        div.subscriptionDriver
            a.btn.btn-primary(href="/test/?action=activateSubscription") Activate Subscription
            br
            br

            a.btn.btn-primary(href="/test/?action=renewSubscription") Renew Subscription
            br
            br

            a.btn.btn-primary(href="/test/?action=cancelSubscription") Cancel Subscription
            br
            br


    -var episodeCount = vidUrls?vidUrls[selectedSeason].length - 1:0
    -var episode = 1
    while episode <= episodeCount
        div.episodesTest
            div.episodeButtons
                button.btn.btn-primary.episode-button(season=selectedSeason, episode=episode, url=vidUrls[selectedSeason][episode])= "Episode " + episode++

    a(href="./logout") Log Out

    script(src="javascripts/test.js")