extends index

block topbar
    include navbar
block content

    .container.greeting.text-center#greeting.border
        .row
            .col-3
                a#link(href='/home/?filterToSubscriptions=true')
                    img.img-fluid.rounded.mx-auto.logoimage#logos(src=`/images/userPic.png`, width='100', height='100')
            .col-6
                .row
                    h3 #{title}
                .row
                    p This is the about. This should be saved and taken to and from the database.
            .col-3
        .row#greetingdark
            .col.text-center.border-top
                h2  Recent Activity
        .row#greetingblack
            .col
                H1 

    .container
        .row
            .col-8
                //  need to figure out a way to save a user's top 10 through DB
                h3.text-white.text-center Recent Reviews
                each review in reviews
                    .reviews
                        h3 #{review.production}
                        p #{review.review}
                        h6.text-white rating: #{review.rating}
                        h6.text-white #{review.date}

            .col-4#greetingdark

                h3.text-center Top 10

                ol
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
                    li Production
        .row#greetingblack
            .col
                h1
    .container
        .row
            .col.text-center.border-bottom.greeting#greetingdark
                h2 Watchlist
        .row
            each production in displayProductions
                option 
                .col-sm-3
                    .card.prodBox
                        - var titleLink = `/production/?production=${production.id}`
                            a#link(href= titleLink)
                                img.img-fluid.rounded.mx-auto.logoimage#logos(src=`/images/showthumbnail/${production.id}.jpg` alt=`${production.title}`, width='300')

    .container
        .row
            .col-sm-12
                h1.text-white Recent Reviews
        each review in reviews
            .row
